<!DOCTYPE html>
<html>
<head>
	<title>Word Game App</title>
	<script src="angular.min.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
</head>
<body ng-app= "wordGame" ng-controller = "wordController">
	<div>
		<div>Life remaining {{ guessNumber }}</div>

		<div>Correct choices 
			<span ng-repeat = "character in RightChoices">
				{{ character }}
			</span>
		</div>

		<div>Wrong choices 
			<span ng-repeat = "character in wrongChoices">
				{{ character }}
			</span>		
		</div>


		<div>Guess the word {{ wordInView }}</div>
		<div>
			<div>
				<input type="text" name="guess" ng-model = "input.character">
				<button ng-click="characterCheck()">Submit</button>
			</div>
		</div>
	</div>
</body> 
</html>